{%extends 'base.html' %}
{%block title%}Home{%endblock%}
{%block content%}
    <div class="content">
        <div class="contentHeader">
            <h1>Doc Next Door</h1>
        </div>
        <div class="contentBody">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, reiciendis cupiditate tenetur eligendi fuga suscipit sit recusandae!
                                    Eligendi praesentium dolorum neque maxime vel recusandae iure explicabo, 
                                    commodi numquam porro voluptate iste ullam voluptates suscipit consequuntur animi nihil consequatur dicta, veritatis fugit,
                                    rem magnam doloremque reiciendis? Ex odio repudiandae doloribus eveniet, ipsam fugit optio facere molestias praesentium hic. 
                                    Blanditiis vitae enim quia facilis vel quaerat reiciendis,
                                    expedita unde facere mollitia possimus pariatur
                                    iste placeat numquam quisquam impedit aperiam non sed consequatur esse fugiat dignissimos quas cum? 
                                Fugiat voluptas officiis quidem, doloremque placeat architecto nobis. Quibusdam excepturi omnis voluptates neque quis facere.</p>
        </div>
    </div>
{%endblock%}
